In [9]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [10]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Task 1: Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))  # head(2) shows the first 2 rows
print("\n")

# Task 2: Add a new column 'Bonus' which is 10% of the salary
df['Bonus'] = df['Salary'] * 0.10

# Display the DataFrame after adding the 'Bonus' column
print("DataFrame after adding the 'Bonus' column:")
print(df)
print("\n")

# Task 3: Calculate the average salary of employees
average_salary = df['Salary'].mean()
print(f"Average Salary of employees: {average_salary}")
print("\n")

# Task 4: Filter and display employees who are older than 25
older_than_25 = df[df['Age'] > 25]
print("Employees who are older than 25:")
print(older_than_25)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000


DataFrame after adding the 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0


Average Salary of employees: 47500.0


Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0